---
import { card } from '../../styled-system/recipes';
import { css } from '../../styled-system/css';

export interface Props {
  icon: string;
  title: string;
  description: string;
  variant?: 'default' | 'elevated';
  size?: 'sm' | 'md' | 'lg';
}

const { 
  icon, 
  title, 
  description, 
  variant = 'default',
  size = 'md'
} = Astro.props;

const iconStyle = css({
  fontSize: '3rem',
  marginBottom: '1rem',
  textAlign: 'center'
});

const titleStyle = css({
  fontSize: '1.3rem',
  marginBottom: '1rem',
  color: 'semantic.text.primary',
  textAlign: 'center',
  fontWeight: '600'
});

const descriptionStyle = css({
  color: 'semantic.text.secondary',
  textAlign: 'center',
  lineHeight: '1.5'
});
---

<div class={card({ variant, size })}>
  <div class={iconStyle}>{icon}</div>
  <h4 class={titleStyle}>{title}</h4>
  <p class={descriptionStyle}>{description}</p>
</div>
